* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(39, 31, 31);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  margin: 1rem 0;
}

form {
  width: 30rem;
  background-color: #fff;
  margin: 3rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
}

label {
  margin-bottom: 0.5rem;
  display: block;
}

input {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font-family: inherit;
  border: 1px solid #777;
  padding: 0.5rem;
  color: #333;
  border-radius: 0.25rem;
}

input:focus {
  background-color: #ddf;
  color: #333;
  border-color: #333;
}

button {
  display: block;
  padding: 0.5rem;
  font-family: inherit;
  background-color: #339;
  border: 1px solid #339;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  background-color: #44a;
  border-color: #44a;
  color: #fff;
}

.form-control-inline {
  display: flex;
}

.form-control-inline input {
  width: auto;
  margin-right: 1rem;
}
